@using ASTE.Modules.APIDiscovery.db.Entities
@model Client
@{
    ViewBag.Title = "Edit Client";
}
<div class="row">
    
        <h2>New Client</h2>
        @using (Html.BeginForm("Update", "Client", FormMethod.Post))
        {
            @Html.HiddenFor(x => Model.id)
            @Html.HiddenFor(x => Model.created)
            @Html.HiddenFor(x => Model.api_key)
            <table cellpadding="5">
                @if (ViewData.ModelState != null && ViewData.ModelState["name"] != null && ViewData.ModelState["name"].Errors.Count > 0)
                {
                    <tr>
                        <td colspan="2" style="color:red;">@Html.ValidationMessageFor(x => Model.name)</td>
                    </tr>
                }
                <tr>
                    <td>@Html.LabelFor(x => Model.name)</td>
                    <td>@Html.EditorFor(x => Model.name)</td>
                </tr>
                @if (ViewData.ModelState != null && ViewData.ModelState["client_ip"] != null && ViewData.ModelState["client_ip"].Errors.Count > 0)
                {
                    <tr>
                        <td colspan="2" style="color:red;">@Html.ValidationMessageFor(x => Model.client_ip)</td>
                    </tr>
                }
                <tr>
                    <td>@Html.LabelFor(x => Model.client_ip)</td>
                    <td>@Html.EditorFor(x => Model.client_ip)</td>
                </tr>
                @if (ViewData.ModelState != null && ViewData.ModelState["client_name"] != null && ViewData.ModelState["client_name"].Errors.Count > 0)
                {
                    <tr>
                        <td colspan="2" style="color:red;">@Html.ValidationMessageFor(x => Model.client_name)</td>
                    </tr>
                }
                <tr>
                    <td>@Html.LabelFor(x => Model.client_name)</td>
                    <td>@Html.EditorFor(x => Model.client_name)</td>
                </tr>

            </table>
            <input class="btn btn-default" type="submit" value="Update" />
        }
</div>
