@using ASTE.Modules.APIDiscovery.db.Entities
@model List<Client>
@{
        ViewBag.Title = "Clients frontpage";
}

    <div class="row">
        <div class="col-sx-12 col-md-12">
            <h2>Clients</h2>

            @if (Model != null && Model.Count > 0)
            {
            <table class=".table-striped" cellpadding="5">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Application Name</th>
                        <th>Api Key</th>
                        <th>Created</th>
                        <th>Last Modified</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                @foreach (var m in Model.Where(x => x.isdeleted == false))
                {
                    <tr>
                        <td>
                            @m.name
                        </td>
                        <td>
                            @m.client_name
                        </td>
                        <td>
                            @m.api_key
                        </td>

                        <td>
                            @m.created.ToString()
                        </td>
                        <td>
                            @m.modified.ToString()
                        </td>
                        <td>
                            <a href='@Url.Action("Edit","Client",new { client_id = m.id })' class="btn btn-default" >Edit</a>
                        </td>
                        <td>
                            <a href='@Url.Action("Delete","Client",new { client_id = m.id })' class="btn btn-default" >Delete</a>
                        </td>
                    </tr>
                }
            </table>
            <p><a href="@Url.Action("New","Client")">Add new client</a></p>
            }
            else
            {
                <p>No existing clients. <a href="@Url.Action("New","Client")">Add new client</a></p>

            }
        </div>
    </div>
            


